Restful/src/main/webapp/restful-1.2.wadl

<?xml version="1.0" encoding="UTF-8"?>
<application xmlns="http://wadl.dev.java.net/2009/02"><doc
        jersey:generatedBy="Jersey: 1.9-ea04 08/05/2011 10:08 AM"
        xmlns:jersey="http://jersey.java.net/"/><doc
        title="The doc for your API"
        xml:lang="en"><![CDATA[
        This is a paragraph that is added to the start of the generated application.wadl
    ]]></doc><doc
        title="Die Dokumentation fuer Ihre API"
            xml:lang="de"><![CDATA[
        Dies in ein Abschnitt, der dem Beginn der generierte application.wadl hinzugefügt wird - in deutscher Sprache.
    ]]></doc><grammars><include
        href="schema.xsd"/></grammars><resources
            base="http://localhost:8080/restful/rest"><resource
                path="users"><resource path="save/entity"><method
                    id="save" name="POST"><request><param name="Users"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/entity"><method id="delete"
                            name="DELETE"><request><param name="Users"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/id"><method id="delete"
                            name="DELETE"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="update/entity"><method id="update"
                            name="PUT"><request><param name="Users"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/name"><method id="findByName"
                            name="GET"><request><param name="name"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="get/all"><method id="getAll"
                            name="GET"><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all"><method id="findAll"
                            name="GET"><request><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/id"><method id="findById"
                            name="GET"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/email"><method id="findByEmail"
                            name="GET"><request><param name="email"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/property"><method id="findByProperty"
                            name="GET"><request><param
                            name="propertyName" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="Object" style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
            mediaType="application/json"/></response></method></resource></resource><resource
                path="offices"><resource path="save/entity"><method
                    id="save" name="POST"><request><param name="Office"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/entity"><method id="delete"
                            name="DELETE"><request><param name="Office"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/id"><method id="delete"
                            name="DELETE"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="update/entity"><method id="update"
                            name="PUT"><request><param name="Office"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="get/all"><method id="getAll"
                            name="GET"><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all"><method id="findAll"
                            name="GET"><request><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/id"><method id="findById"
                            name="GET"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/office"><method id="findByOffice"
                            name="GET"><request><param name="department"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/property"><method id="findByProperty"
                            name="GET"><request><param
                            name="propertyName" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="Object" style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
            mediaType="application/json"/></response></method></resource></resource><resource
                path="projects"><resource path="save/entity"><method
                    id="save" name="POST"><request><param
                            name="Projects" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/entity"><method id="delete"
                            name="DELETE"><request><param
                            name="Projects" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/id"><method id="delete"
                            name="DELETE"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="update/entity"><method id="update"
                            name="PUT"><request><param name="Projects"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="get/all"><method id="getAll"
                            name="GET"><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all"><method id="findAll"
                            name="GET"><request><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/project"><method id="findByProject"
                            name="GET"><request><param name="department"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/id"><method id="findById"
                            name="GET"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/property"><method id="findByProperty"
                            name="GET"><request><param
                            name="propertyName" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="Object" style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
            mediaType="application/json"/></response></method></resource></resource><resource
                path="departments"><resource path="save/entity"><method
                    id="save" name="POST"><request><param
                            name="Department" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/entity"><method id="delete"
                            name="DELETE"><request><param
                            name="Department" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/id"><method id="delete"
                            name="DELETE"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="update/entity"><method id="update"
                            name="PUT"><request><param name="Department"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="get/all"><method id="getAll"
                            name="GET"><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all"><method id="findAll"
                            name="GET"><request><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/department"><method
                    id="findByDepartment" name="GET"><request><param
                            name="department" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/id"><method id="findById"
                            name="GET"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/property"><method id="findByProperty"
                            name="GET"><request><param
                            name="propertyName" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="Object" style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
            mediaType="application/json"/></response></method></resource></resource><resource
                path="abstractResources"><resource
                    path="save/entity"><method id="save"
                            name="POST"><request><param name="E"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/entity"><method id="delete"
                            name="DELETE"><request><param name="E"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/id"><method id="delete"
                            name="DELETE"><request><param name="id"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="update/entity"><method id="update"
                            name="PUT"><request><param name="E"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="get/all"><method id="getAll"
                            name="GET"><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all"><method id="findAll"
                            name="GET"><request><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/property"><method id="findByProperty"
                            name="GET"><request><param
                            name="propertyName" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="Object" style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/id"><method id="findById"
                            name="GET"><request><param name="id"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
            mediaType="application/json"/></response></method></resource></resource><resource
                path="roles"><resource path="save/entity"><method
                    id="save" name="POST"><request><param name="Roles"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/entity"><method id="delete"
                            name="DELETE"><request><param name="Roles"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="delete/id"><method id="delete"
                            name="DELETE"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="update/entity"><method id="update"
                            name="PUT"><request><param name="Roles"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="get/all"><method id="getAll"
                            name="GET"><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all"><method id="findAll"
                            name="GET"><request><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/id"><method id="findById"
                            name="GET"><request><param name="id"
                            style="query" type="xs:long"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/role"><method id="findByRole"
                            name="GET"><request><param name="role"
                            style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation
                mediaType="application/json"/></response></method></resource><resource
                    path="find/all/property"><method id="findByProperty"
                            name="GET"><request><param
                            name="propertyName" style="query"
                            type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="Object" style="query" type="xs:string"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/><param
                            name="rowStartIdxAndCount" style="query"
                            type="xs:int" repeating="true"
                            xmlns:xs="http://www.w3.org/2001/XMLSchema"/></request><response><representation
                            mediaType="application/xml"/><representation mediaType="application/json"/></response></method></resource></resource></resources></application>
